body.login {
  background-color: $black;

  h1 a {
    background-size: contain;
  }

  a {
    color: $white;
  }

  #nav,
  #backtoblog {
    a {
      color: $grey;

      &:hover {
        color: $orange;
      }
    }
  }

  &.wp-core-ui {
    .button-primary {
      background-color: $black;
      text-shadow: none;
      box-shadow: none;
      border: none;
      color: $white;
      @include fontItalic(false);
      font-weight: $font-bold;
    }
  }
}
