.module {
  overflow: hidden;
}

.module-bg {
  position: absolute;
  z-index: -1;
  @include columnWidth(-1, left);
  width: 100vw;
  background-size: cover;
  background-position: center center;

  img {
    display: none;
  }
}
