.module-hero_image {
  color: $white;
  text-align: center;
  font-size: 1.25em;
  padding: 0 !important;
  background-color: $black;

  .wrap {
    width: 100%;
    margin: 0;
  }
}

.hero-heading {
  margin-bottom: 1em;
  margin-top: auto;
}

.hero-slide {
  @include columnWidth(1, padding);
  @include columnWidth(10, max-width);
}

.hero-columns {
  @include grid();
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: $white;
  }
}

.slick-track {
  display: flex;

  .slick-slide {
		display: flex;
		height: auto;
		align-items: center;
		justify-content: center;
  }
}

.hero-column-left,
.hero-column-right {
  width: 50%;
  padding: 1.5em;
  font-size: 0.85em;

  & > *:last-child {
    padding-bottom: 0;
    margin: 0;
  }
}

.hero-column-left {
  text-align: right;
}

.hero-column-right {
  text-align: left;
}

.hero-footnote {
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: $orange;
  font-size: 0.75em;
  padding: 2em;
  transform: translateX(-50%);
  margin-top: auto;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: calc(100% + 1px);
    width: 5em;
    background-color: $orange;
  }

  &::before {
    right: calc(100% - 1px);
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
  }

  &::after {
    left: calc(100% - 1px);
    clip-path: polygon(100% 100%, 0 0, 0 100%);
  }

  &-color-white { background-color: $white; color: $black; &::before, &::after { background-color: $white; }}
  &-color-smoke { background-color: $grey; color: $black; &::before, &::after { background-color: $grey; }}
  &-color-charcoal { background-color: $black; color: $white; &::before, &::after { background-color: $black; }}
}

@media (max-width: 1280px) {

  .hero-footnote {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .slick-track {
    display: block;
  }

  .hero-slide {
    @include grid(center, center, column);
    display: flex !important;
    padding-bottom: 0;
    max-width: 100%;
    min-height: calc(100vh - 4em);

    .module-bg {
      transform: none !important;
    }
  }

  .hero-heading {
    margin-bottom: auto;
  }

  .hero-footnote {
    position: relative;
    margin-top: 2em;
  }
}


@media (max-width: 660px) {
  .hero-columns {
    @include grid(center, center, column);

    &::after {
      display: none;
    }
  }

  .hero-slide {
    font-size: 0.85em;
  }

  .hero-column-left,
  .hero-column-right {
    padding: 0 0 2em 0;
    width: 100%;
    text-align: center;
  }
}
